<template>
  <v-row>
    <v-spacer/>

    <v-card
      flat
      color="rgb(255, 255, 255, 0)"
      max-width="800px"
      width="800px"
      class="mt-5 px-5"
    >
      <v-card-title>
        <v-spacer/>

        <h1 class="display-1 font-weight-light blue--text text--darken-3">
          Bienvenue sur le site de la SAS EduSmart !
        </h1>

        <v-spacer/>
      </v-card-title>

      <v-card-text>
        <v-row justify="center">
          <v-card
            flat
            color="rgb(0, 0, 0, 0)"
            width="800px"
            class="mt-5"
          >
            <v-card-text>
              <p class="body-1">
                Ce site est destiné à présenter

                <strong class="blue--text text--darken-3">
                  la
                </strong>

                toute

                <strong class="blue--text text--darken-3">
                  nouvelle plate-forme « E-cole » conçue spécialement pour les professeurs
                </strong>

                désireux de créer des contenus innovants, pédagogiques, et interactifs,

                <strong class="blue--text text--darken-3">
                  et les étudiants
                </strong>

                souhaitant s’entraîner gratuitement pour réussir leurs examens et concours.
              </p>
            </v-card-text>
          </v-card>
        </v-row>
      </v-card-text>
    </v-card>

    <v-spacer/>
  </v-row>
</template>

<script>
  export default {
    data: () => ({

    })
  }
</script>

<style>

</style>
