<template>
  <v-row class="mt-2">
    <v-col cols="12">
      <v-row justify="center">
        <v-card flat color="rgb(255, 255, 255, 0)" width="800px" max-width="800px">
          <v-card-title>
            <v-spacer/>

            <h1 class="display-1 font-weight-light blue--text text--darken-3">
              Nous contacter
            </h1>

            <v-spacer/>
          </v-card-title>

          <v-card-text>
            <v-row justify="center">
              <v-card
                flat
                color="rgb(0, 0, 0, 0)"
                width="800px"
                class="mt-5"
              >
                <v-card-text>
                  <h2 class="title text-center font-weight-light">Vous cherchez à nous contacter ? Rien de plus simple !</h2>

                  <v-row justify="center" class="mt-6">
                    <img
                      :src="require('../assets/logo_ecole.png')"
                      contain
                      height="40px"
                    />
                  </v-row>

                  <v-row justify="center" class="mt-6">
                    <p class="body-1 text-center">
                      SAS EduSmart au capital de 100 €

                      <br/>

                      3, chemin René Vitry

                      <br/>

                      97420, Les Avirons

                      <br/>

                      educ.pei@gmail.com
                    </p>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data: () => ({

    })
  }
</script>

<style>

</style>
