<template>
  <v-row>
    <v-spacer/>

    <v-card
      flat
      color="rgb(0, 0, 0, 0)"
      width="900px"
      max-width="900px"
      min-width="200px"
      class="mt-5 px-5"
    >
      <v-card-title>
        <v-spacer/>

        <h1 class="display-1 font-weight-light blue--text text--darken-3">
          Notre équipe
        </h1>

        <v-spacer/>
      </v-card-title>

      <v-card-text>
        <v-row justify="center">
          <v-card
            flat
            color="rgb(0, 0, 0, 0)"
            width="800px"
            class="mt-5"
          >
            <v-card-text>
              <p class="body-1">
                Pierre-Alain Riviere, Pierre-Louis Gourdoux et Stéphane Murday se sont rencontrés dans la ville de Paris où ils ont étudié puis travaillé à la même époque. Pierre-Louis et Stéphane ont notamment suivi les cours de l'Ecole Normale Supérieure de Cachan ensemble ont également obtenu leur agrégation d'économie-gestion la même année.

                <br/>

                Cette équipe se rassemble autour de deux principes essentiels :

                <br/>

                <ul>
                  <li>
                    Une complémentarité dans leurs compétences ;
                  </li>
                  <li>
                    La possibilité de travailler avec des collègues dont on connait les qualités mais aussi les défauts, dans lesquels on aura confiance et sur lesquels on pourra s'appuyer.
                  </li>
                </ul>
              </p>
            </v-card-text>

            <v-card-actions>
              <v-spacer/>

              <v-btn color="blue darken-3" outlined class="text-none" to="presentation-membres">Découvrez les membres de l'équipe !</v-btn>

              <v-spacer/>
            </v-card-actions>
          </v-card>
        </v-row>
      </v-card-text>
    </v-card>

    <v-spacer/>
  </v-row>
  <!-- <v-row>
    <v-spacer/>

    <v-card flat color="rgb(0, 0, 0, 0)">
      <v-card-title>
        <v-row>
          <v-spacer/>

          <p class="display-2">Notre équipe</p>

          <v-spacer/>
        </v-row>
      </v-card-title>

      <v-card-text>
        <v-row justify="center">
          <v-card flat color="rgb(0, 0, 0, 0)">
            <v-row>
              <v-card outlined class="ma-2" width="180px" @click="bibliography = 'pa'">
                <v-img
                  :src="require('../assets/photo_pierre_louis.png')"
                  contain
                  width="180px"
                />

                <p class="subtitle-2 text-center font-weight-bold">PIERRE-ALAIN RIVIÈRE</p>

                <p class="text-center mt-n2"><em>Président</em></p>
              </v-card>

              <v-card outlined class="ma-2" width="180px" @click="bibliography = 'steph'">
                <v-img
                  :src="require('../assets/photo_pierre_louis.png')"
                  contain
                  width="180px"
                />

                <p class="subtitle-2 text-center font-weight-bold">STÉPHANE MURDAY</p>

                <p class="text-center mt-n2"><em>Cofondateur et associé</em></p>
              </v-card>

              <v-card outlined class="ma-2" width="180px" @click="bibliography = 'pl'">
                <v-img
                  :src="require('../assets/photo_pierre_louis.png')"
                  contain
                  width="180px"
                />

                <p class="subtitle-2 text-center font-weight-bold">PIERRE-LOUIS GOURDOUX</p>

                <p class="text-center mt-n2"><em>Cofondateur et associé</em></p>
              </v-card>
            </v-row>

            <v-spacer/>
          </v-card>
        </v-row>

        <v-row justify="center">
          <v-card flat color="rgb(0, 0, 0, 0)" class="mt-n2 ml-12" width="500px" v-show="bibliography === 'pl'">
            <v-card-title>
              <p>PIERRE-LOUIS GOURDOUX</p>
            </v-card-title>

            <v-card-text>
              <p>Cofondateur et associé</p>

              <p>BIBLIOGRAPHIE</p>

              <p>
                Pierre-Louis Gourdoux est normalien, agrégé d’économie-gestion.

                <br/>

                Il enseigne en BTS à Paris, ainsi que pour des étudiants de licence et Master d’économie.

                <br/>

                Son attrait pour les nouvelles méthodes pédagogiques l’a conduit à créer plusieurs jeux sérieux, simulant la gestion d’une entreprise (

                <a>MarketGame</a>

                ) et d’un Etat (Le Jeu des Etats).
              </p>
            </v-card-text>
          </v-card>
        </v-row>
      </v-card-text>
    </v-card>

    <v-spacer/>
  </v-row> -->
</template>

<script>
  export default {
    data: () => ({
      bibliography: 'pa'
    })
  }
</script>

<style>
  inactiveCard {
    background-color: rgb(0, 0, 0, 0.2);
  }
</style>
