<template>
  <v-row>
    <v-spacer/>

    <v-card
      flat
      color="rgb(0, 0, 0, 0)"
      width="700px"
      max-width="900px"
      min-width="200px"
      class="mt-5 px-5"
    >
      <v-card-title>
        <v-spacer/>

        <h1 class="display-1 font-weight-light blue--text text--darken-3">
          Notre équipe
        </h1>

        <v-spacer/>
      </v-card-title>

      <v-card-text>
        <v-row justify="center">
          <v-card flat color="rgb(0, 0, 0, 0)">
            <v-row>
              <v-card outlined color="rgb(0, 0, 0, 0)" class="ma-2" width="180px" @click="bibliography = 'pa'">
                <v-img
                  :src="require('../assets/photo_pa.png')"
                  height="220px"
                  width="180px"
                />

                <h3 class="subtitle-2 text-center font-weight-light blue--text text--darken-3 mt-3">PIERRE-ALAIN RIVIÈRE</h3>

                <h4 class="body-1 text-center font-italic font-weight-light">Président</h4>
              </v-card>

              <v-card outlined color="rgb(0, 0, 0, 0)" class="ma-2" width="180px" @click="bibliography = 'steph'">
                <v-img
                  :src="require('../assets/photo_steph.png')"
                  height="220px"
                  width="180px"
                />

                <h3 class="subtitle-2 text-center font-weight-light blue--text text--darken-3 mt-3">STÉPHANE MURDAY</h3>

                <h4 class="body-1 text-center font-italic font-weight-light">Cofondateur et associé</h4>
              </v-card>

              <v-card outlined color="rgb(0, 0, 0, 0)" class="ma-2" width="180px" @click="bibliography = 'pl'">
                <v-img
                  :src="require('../assets/photo_pierre_louis.png')"
                  height="220px"
                  width="180px"
                />

                <h3 class="subtitle-2 text-center font-weight-light blue--text text--darken-3 mt-3">PIERRE-LOUIS GOURDOUX</h3>

                <h4 class="body-1 text-center font-italic font-weight-light">Cofondateur et associé</h4>
              </v-card>
            </v-row>
          </v-card>
        </v-row>

        <v-row justify="center">
          <v-card flat color="rgb(0, 0, 0, 0)" width="600px" v-show="bibliography === 'pa'">
            <v-card-title>
              <h2 class="title text-center font-weight-light blue--text text--darken-3 mt-3">PIERRE-ALAIN RIVIÈRE</h2>
            </v-card-title>

            <v-card-text>
              <h4 class="body-1 font-italic font-weight-light">
                Président
              </h4>

              <h5 class="subtitle-2 font-weight-bold my-3 blue--text text--darken-3">
                BIBLIOGRAPHIE
              </h5>

              <p class="body-1">
                Pierre-Alain Rivière est leader technique chez Orange Réunion.

                <br/>

                Après l'obtention de son diplôme d'ingénieur à Supinfo International University (Campus de Paris), Pierre-Alain a démarré sa carrière par une longue expérience d’environ 10 ans au sein d'une SSII en Île-de-France.

                <br/>
                De retour sur son île natale depuis 2016, il a travaillé durant 2 ans et demi dans une entreprise de prestation de conseils avant de prendre poste chez un grand opérateur local où il assure désormais un rôle de Leader Technique.

                <br/>

                Sa devise ? "Expert en tout, expert en rien". Autrement dit, ne pas se spécialiser tout en travaillant sa capacité à être fonctionnel sur un large panel de technologies informatiques.
              </p>
            </v-card-text>
          </v-card>

          <v-card flat color="rgb(0, 0, 0, 0)" width="600px" v-show="bibliography === 'steph'">
            <v-card-title>
              <h2 class="title text-center font-weight-light blue--text text--darken-3 mt-3">STÉPHANE MURDAY</h2>
            </v-card-title>

            <v-card-text>
              <h4 class="body-1 font-italic font-weight-light">
                Cofondateur et associé
              </h4>

              <h5 class="subtitle-2 font-weight-bold my-3 blue--text text--darken-3">
                BIBLIOGRAPHIE
              </h5>

              <p class="body-1">
                Enseignant à l'Université de la Réunion au sein de la faculté de Droit et d'Economie, il accorde une place centrale à la pédagogie dans les enseignements qu'il dispense.

                <br/>

                La question de la réussite est une thématique qu'il prend particulièrement à coeur et il a d'ailleurs contribué, tout au long de sa carrière, à la mise en place de différents dispositifs d'aide à la réussite dans les établissements qu'il a pu fréquenter.
              </p>
            </v-card-text>
          </v-card>

          <v-card flat color="rgb(0, 0, 0, 0)" width="600px" v-show="bibliography === 'pl'">
            <v-card-title>
              <h2 class="title text-center font-weight-light blue--text text--darken-3 mt-3">PIERRE-LOUIS GOURDOUX</h2>
            </v-card-title>

            <v-card-text>
              <h4 class="body-1 font-italic font-weight-light">
                Cofondateur et associé
              </h4>

              <h5 class="subtitle-2 font-weight-bold my-3 blue--text text--darken-3">
                BIBLIOGRAPHIE
              </h5>

              <p class="body-1">
                Pierre-Louis Gourdoux est normalien, agrégé d’économie-gestion.

                <br/>

                Il enseigne en BTS à Paris, ainsi que pour des étudiants de licence et Master d’économie.

                <br/>

                Son attrait pour les nouvelles méthodes pédagogiques l’a conduit à créer plusieurs jeux sérieux, simulant la gestion d’une entreprise (

                <a target="_blank" rel="noopener noreferrer" href="https://marketgame.hachette-education.com/">MarketGame</a>

                ) et d’un Etat (Le Jeu des Etats).
              </p>
            </v-card-text>
          </v-card>
        </v-row>
      </v-card-text>
    </v-card>

    <v-spacer/>
  </v-row>
</template>

<script>
  export default {
    data: () => ({
      bibliography: 'pa'
    })
  }
</script>

<style>
  ul.sansPuces {
    list-style: none;
  }
</style>
