<template>
  <v-row class="mt-2">
    <v-col cols="12">
      <v-row justify="center">
        <v-card flat color="rgb(255, 255, 255, 0)" width="800px" max-width="800px">
          <v-card-title>
            <v-spacer/>

            <h1 class="display-1 font-weight-light blue--text text--darken-3">
              Notre projet
            </h1>

            <v-spacer/>
          </v-card-title>

          <v-card-text>
            <v-row justify="center">
              <v-card
                flat
                color="rgb(0, 0, 0, 0)"
                width="800px"
                class="mt-5"
              >
                  <v-card-text>
                    <p class="body-1">
                      Fruit d’un long travail de réflexion,

                      <strong class="blue--text text--darken-3">
                        la plate-forme « E-cole » propose une nouvelle approche de l’éducation grâce aux outils numériques
                      </strong>

                      . Plusieurs années de pratique nous ont amené à un triste constat quant à l’apport des NTIC dans le domaine éducatif : les « nouveaux outils » ne sont pour beaucoup d’entre eux rien de plus qu’une transposition du format papier au format numérique.
                    </p>

                    <p class="body-1">
                      Nous proposons, plutôt que d’adapter les outils numériques aux pratiques actuelles, d’adapter les pratiques aux possibilités du numérique. La plateforme « E-cole » repose ainsi sur trois volets techniques :

                      <ul>
                        <li>
                          <strong class="blue--text text--darken-3">
                            Un générateur de cours, d’exercices
                          </strong>

                          ;
                        </li>

                        <li>
                          <strong class="blue--text text--darken-3">
                            Un portail numérique
                          </strong>
                          permettant l’utilisation « numérique » de ces exercices et corrigés ainsi que la gestion des utilisateurs ;
                        </li>

                        <li>
                          <strong class="blue--text text--darken-3">
                            Un logiciel permettant d’organiser le passage d’examens sur ordinateurs et tablettes
                          </strong>
                          .
                        </li>
                      </ul>
                    </p>
                  </v-card-text>
                </v-card>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>

      <v-row justify="center">
        <v-col cols="7">

        <v-divider/>

        </v-col>
      </v-row>

      <v-row justify="center">
        <v-card flat color="rgb(255, 255, 255, 0)" width="800px" max-width="800px">
          <v-card-title>
            <h2 class="headline font-weight-light blue--text text--darken-3">
              Vous êtes enseignant ?
            </h2>
          </v-card-title>

          <v-card-text>
            <v-row justify="center">
              <v-card
                flat
                color="rgb(0, 0, 0, 0)"
                width="800px"
                class="mt-5"
              >
                  <v-card-text>
                    <p class="body-1">
                      Quel professeur ne fait pas face, plusieurs fois durant sa carrière, à la laborieuse mais nécessaire création de ses cours ? Passer des heures à rédiger, structurer, calculer, mettre en forme, du mieux possible, des cours et des exercices.
                    </p>

                    <p class="body-1">
                      Avec « E-cole », ce temps est révolu.

                      <strong class="blue--text text--darken-3">
                        Choisissez en quelques clics les exercices et les cours que vous souhaitez, ou rédigez les vôtres en quelques minutes.
                      </strong>
                    </p>

                    <p class="body-1">
                      Le plus « E-cole » ? Grâce à notre éditeur de contenu, finis les exercices calibrés et rigides.

                      <strong class="blue--text text--darken-3">
                        Personnalisez vos énoncés, déclinez-les en autant de versions que vous le souhaitez
                      </strong>

                      , et surtout,

                      <strong class="blue--text text--darken-3">
                        générez du contenu à l’infini via un simple clic
                      </strong>
                      . Nos outils permettent en effet de générer à l’infini de nouvelles données, en choisissant le niveau de difficulté, pour individualiser l’expérience avec chaque élève.

                      <strong class="blue--text text--darken-3">
                        La pédagogie différenciée n’a jamais été aussi facile !
                      </strong>
                    </p>
                  </v-card-text>
                </v-card>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>

      <v-row justify="center">
        <v-col cols="7">

        <v-divider/>

        </v-col>
      </v-row>

      <v-row justify="center">
        <v-card flat color="rgb(255, 255, 255, 0)" width="800px" max-width="800px">
          <v-card-title>
            <h2 class="headline font-weight-light blue--text text--darken-3">
              Vous êtes étudiant ?
            </h2>
          </v-card-title>

          <v-card-text>
            <v-row justify="center">
              <v-card
                flat
                color="rgb(0, 0, 0, 0)"
                width="800px"
                class="mt-5"
              >
                  <v-card-text>
                    <p class="body-1">
                      Manuels, cours en ligne, instituts privés…les moyens ne manquent pas pour se préparer aux examens et concours. Pourtant, quelle que soit la méthode, impossible de s’entrainer à l’infini sur des exercices personnalisés.
                    </p>

                    <p class="body-1">
                      Avec « E-cole »,

                      <strong class="blue--text text--darken-3">
                        entraîner-vous gratuitement
                      </strong>

                      sur des exercices

                      <strong class="blue--text text--darken-3">
                        spécialement conçus par des professeurs de toutes disciplines.
                      </strong>

                      Variez les énoncés via notre générateur automatique d’entraînements. Modifiez le niveau de difficulté pour

                      <strong class="blue--text text--darken-3">
                        progresser à votre rythme
                      </strong>

                      .
                    </p>

                    <p class="body-1">
                      N’hésitez pas, inscrivez-vous et testez les outils conçus pour vous !
                    </p>
                  </v-card-text>
                </v-card>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>

      <v-row justify="center">
        <v-col cols="7">

        <v-divider/>

        </v-col>
      </v-row>

      <v-row justify="center">
        <v-card flat color="rgb(255, 255, 255, 0)" width="800px" max-width="800px">
          <v-card-title>
            <h2 class="headline font-weight-light blue--text text--darken-3">
              Vous dirigez ou vous voulez créer votre propre Institut de formation ?
            </h2>
          </v-card-title>

          <v-card-text>
            <v-row justify="center">
              <v-card
                flat
                color="rgb(0, 0, 0, 0)"
                width="800px"
                class="mt-5"
              >
                  <v-card-text>
                    <p class="body-1">
                      <strong class="blue--text text--darken-3">
                        Cours, exercices, entraînements en temps limité ou non, analyse des erreurs, suivi de l’entraînement et des résultats des étudiants, etc.
                      </strong>

                      Imaginer une nouvelle formation diplômante ou non n’aura jamais été aussi simple qu’avec l’utilisation de la plateforme « E-cole ».
                    </p>

                    <p class="body-1">
                      Avec « E-cole », il sera possible d’imaginer et de mettre en place rapidement des cursus incluant de nombreuses matières devant aborder un certain nombre de notions à un niveau de difficulté prédéterminé, mais aussi de suivre le sérieux et les résultats des apprenants inscrits à cette formation.
                    </p>

                    <p class="body-1">
                      Adieu la pénible administration d’une formation et place à une dimension essentielle à la réussite : Le lien et le coaching de l’apprenant !
                    </p>
                  </v-card-text>
                </v-card>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data: () => ({

    })
  }
</script>

<style>

</style>
