<template>
  <v-app>
    <v-app-bar app>
      <v-row align="center">
        <v-col cols="2" class="pl-5">
          <v-row>
            <v-spacer/>

            <router-link to="/accueil">
              <img
                :src="require('../src/assets/logo_ecole.png')"
                height="30px"
                contain
              />
            </router-link>

            <v-spacer/>
          </v-row>
        </v-col>

        <v-col cols="10" class="d-none d-sm-flex">
          <v-row class="pl-5" align="center">
            <v-spacer/>

            <v-btn
              height="50px"
              x-small
              text
              to="/accueil"
              active-class="blue--text text--darken-3"
              class="subtitle-1"
            >
              Accueil
            </v-btn>

            <v-btn
              height="50px"
              x-small
              text
              to="/membres"
              active-class="blue--text text--darken-3"
              class="subtitle-1"
            >
              Qui sommes-nous ?
            </v-btn>

            <v-btn
              height="50px"
              x-small
              text
              to="/presentation-projet"
              active-class="blue--text text--darken-3"
              class="subtitle-1"
            >
              Notre projet
            </v-btn>

            <v-btn
              height="50px"
              x-small
              text
              to="/contacts"
              active-class="blue--text text--darken-3"
              class="subtitle-1"
            >
              Contacts
            </v-btn>

            <v-spacer/>
          </v-row>
        </v-col>

        <v-col cols="10" class="d-sm-none">
          <v-row>
            <v-spacer/>

            <v-btn
              text
              @click="menu = !menu"
            >
              <v-icon x-large>menu</v-icon>
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-app-bar>

    <v-content>
      <v-container fluid class="pa-0">
        <v-card class="d-md-none" v-if="menu">
          <v-list>
            <v-list-item-group>
              <v-list-item to="/accueil">
                <v-list-item-content>
                  <v-list-item-title>Accueil</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item to="/membres">
                <v-list-item-content>
                  <v-list-item-title>Qui sommes-nous ?</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item to="/presentation-projet">
                <v-list-item-content>
                  <v-list-item-title>
                    Notre projet
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item to="/contacts">
                <v-list-item-content>
                  <v-list-item-title>Contacts</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>

        <router-view/>
        <!-- <v-img
          :src="require('../src/assets/gradient_01.png')"
        >
          <router-view/>
        </v-img> -->
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      menu: false
    }
  },
  name: 'App'
};
</script>
